/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/data
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/codeStyles
.idea/dataSources*
.idea/inspectionProfiles
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/php*
.idea/sqldialects.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/webServers.xml
